a{
    text-decoration: none;
    color: white;
}

.MuiTextField-root{
    width: 20rem;
    height: 4rem;
}

.input{
    height: 6rem;
}

#buttons{
    margin-top: 2rem;
}

#homeBody{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 2rem;
}
@media (max-width: 950px) {
    #homeBody{
        margin-left: 2rem;
    }
}

#contact-form-button{
    align-self: center;
    margin-left: 3rem;
    box-shadow: 1rem 2rem 4rem rgba(0, 0, 0, 0.25);
}